.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
src/*.a
src/**/*.o
src/**/*.so
src/**/*.dll
src/**/*.a
charport*.tar.gz
*.Rcheck
..Rcheck
vignettes/*.html
local
.DS_Store
.vscode
/src/.vscode
scratch
